<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="http://libs.baidu.com/jquery/1.11.1/jquery.min.js "></script>
    <style type="text/css">
        body{
            background-color: red;
        }
    </style>
</head>
<body>
<p>问题：</p>

<form>
    链接：<input type="text" id="q-href">
    id：<input type="text" id="q-id">
    标题：<input type="text" id="q-title">

</form>

<button onclick="qGet()">获取</button>
<br>
<button onclick="qClear()">清空</button>
<hr>

<p>用户</p>

<form>
    链接：<input type="text" id="u-href">
    用户名：<input type="text" id="u-name">

</form>

<button onclick="uGet()">获取</button>
<br>
<button onclick="uClear()">清空</button>
<script>
    function qClear(){
        document.querySelector('#q-href').value='';
                document.querySelector('#q-id').value='';
                document.querySelector('#q-title').value='';
    }
    function qGet() {
        let href = document.querySelector('#q-href').value,
                qid = document.querySelector('#q-id').value,
                title = document.querySelector('#q-title').value;

        $.post('/zh/q',{href:href,qid:qid,title:title})

    }


    function uClear(){
        document.querySelector('#u-href').value='';
        document.querySelector('#u-name').value='';
    }
    function uGet() {
        let href = document.querySelector('#u-href').value,
                name=document.querySelector('#u-name').value;
        $.post('/zh/u',{href:href,name:name})
    }
</script>
</body>
</html>